<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bookservice.orders.repository.OrderedBookMapper">
	<select id="existsOrderedBook" resultType="boolean">
		select
			count(obmo.ordered_book_id)
		from
			book b
		join
			(
			select
				mo.member_id,
				ob.orders_id,
				ob.book_id,
				ob.ordered_book_id
			from
				ordered_book ob
			join
				(
				select
					m.member_id,
					o.order_id
				from
					orders o
				join
					member m
				on
					m.member_id = o.member_id
				) mo
			on
				ob.orders_id = mo.order_id) obmo
		on
			b.book_id = obmo.book_id
		where
			b.book_id = #{bookId}
		and
			obmo.member_id = #{memberId};
	</select>
</mapper>